<%- include base -%>
<%- include header -%>

<!-- Флэш-телеграмма. Копируйте под хэдер на каждую большую страницу -->
<!-- ============================== -->
<% if ( sessionFlash && sessionFlash.message) { %>
    <div id="flashbanner" class="<%= sessionFlash.type %>">
        <%= sessionFlash.message %>
        <script>
            setTimeout(function() {
                $('#flashbanner').fadeOut('slow');
            }, 2500);
            $('#flashbanner').mouseover(function() {
                $(this).hide('slow');
                console.log('clicked');
            });
        </script>
    </div>
<% } %>
<!-- ============================== -->

<section class="gallery" ng-controller="cardCtrl">
    <div class="loading" ng-show="courseList.length === 0">
        Минутку! Мы подбираем для вас самое лучшее!
    </div>
    <div class="search-wrap" ng-show="courseList.length >0">
        <div class="tag">
            <h1>WDC</h1>
        </div>
        <div class="tag-low">
            <h3>дарим знания</h3>
        </div>
        <i class="fa fa-search" id="searchicon" aria-hidden="true"></i>
        <!-- ПОИСК. Создана модель данных 'searchInput' которая принимает в себя введенные данные -->
        <input autofocus="autofocus" ng-model="searchInput" class="main-search" type="text" placeholder="начните ввод...">
        <div class="tag-lowest" ng-show="courseList.length >0">
            <p>{{courseList.length}}
                курсов вам на выбор!</p>
        </div>
    </div>
    <div class="card-container-flex" ng-show="searchInput.length > 2">
        <!-- ГЕНЕРАТОР КАРТОЧЕК. Фильтр читает 'searchInput' и фильтрует в соответствии с данными этой модели -->
        <card ng-repeat="course in courseList | filter: searchInput"/>
    </div>
</section>

<%- include footer -%>
