<%- include base %>
<%- include header %>

<!-- Флэш-телеграмма. Копируйте под хэдер на каждую большую страницу -->
<!-- ============================== -->
<% if ( sessionFlash && sessionFlash.message) { %>
    <div id="flashbanner" class="<%= sessionFlash.type %>">
        <%= sessionFlash.message %>
        <script>
            setTimeout(function() {
                $('#flashbanner').fadeOut('slow');
            }, 2500);
            $('#flashbanner').mouseover(function() {
                $(this).hide('slow');
                console.log('clicked');
            });
        </script>
    </div>
<% } %>
<!-- ============================== -->

<div class="logo">
    <h1>WDC</h1>
</div>

<search></search>

<%- include footer %>
